<div id="<%= dom_id organization %>">
  <div class="card card-header" style="width: 19rem;">
    <div class="card-body">
      <h5 class="card-title mt-2"><%= organization.name %></h5>
    </div>
  </div>
</div>


